:root {
    --gold: #CDA43F;
    --daisy: #E9E7DA;
    --stem: #636B46;
    --greenery: #373F27;
    --charcoal: #1F2833;
    --navy: #313456;
    --subtle-gold: #B8a26C;
    --forest: #6E7E75;
    --black: #1A1A1D;
}

.projects {
    width: 30%;
    height: 30vh;
    margin: 20px 10px;
    border: 2px solid var(--black);
    border-radius: 10px;
    overflow: hidden;
}

.pb-container {
    height: 20px;
    background-color: var(--daisy);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.btn:hover {
    background-color: var(--stem);
    color: white;
}
.btn {
    color: var(--gold);
    transition-duration: 0.4s;
}

.project-img {
    width: 100%;
    transition: all 6s ease;
}

.projects:hover .project-img {
    transform: translateY(-200%);
}