:root {
    --gold: #CDA43F;
    --daisy: #E9E7DA;
    --stem: #636B46;
    --greenery: #373F27;
    --charcoal: #1F2833;
    --navy: #313456;
    --subtle-gold: #B8a26C;
    --forest: #6E7E75;
    --black: #1A1A1D;
}

.portfolio {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.p-texts {
    width: 70%;
}

.pl-title {
    font-size: 50px;
    font-weight: 600;
}

.p-description {
    margin: 20px 0px;
}

.p-list {
    display: flex;
    flex-wrap: wrap;
}