:root {
    --gold: #CDA43F;
    --daisy: #E9E7DA;
    --stem: #636B46;
    --greenery: #373F27;
    --charcoal: #1F2833;
    --navy: #313456;
    --subtle-gold: #B8a26C;
    --forest: #6E7E75;
    --black: #1A1A1D;
}

.contact {
    height: 100vh;
    position: relative;
}

.contact-bg {
    width: 25px;
    height: 100%;
    background-color: var(--forest);
    position: absolute;
}

.contact-wrapper {
    padding: 50px;
    display: flex;
}

.contact-left {
    flex: 1;
}

.contact-right {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-title {
    font-size: 60px;
    width: 80%;
}

.contact-info-item {
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 300;
}

.contact-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.contact-anc {
    color: var(--greenery);
}

.contact-description {
    font-weight: 400;
}

form {
    margin-top: 30px;
}

input {
    width: 70%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    border: 1px solid black;
}

button {
    border: none;
    padding: 15px;
    background-color: var(--daisy);
    font-weight: 500;
    cursor: pointer;
}