:root {
    --gold: #CDA43F;
    --daisy: #E9E7DA;
    --stem: #636B46;
    --greenery: #373F27;
    --charcoal: #1F2833;
    --navy: #313456;
    --subtle-gold: #B8a26C;
    --forest: #6E7E75;
    --black: #1A1A1D;
}

.contact {
    height: 100vh;
    position: relative;
}

.contact-bg {
    width: 20px;
    height: 100px;
    background-color: var(--forest);
    position: absolute;
}

.contact-wrapper {
    padding: 50px;
    display: flex;
}

.contact-left {
    flex: 1;
}

.contact-right {
    flex: 1;
}