:root {
    --gold: #CDA43F;
    --daisy: #E9E7DA;
    --stem: #636B46;
    --greenery: #373F27;
    --charcoal: #1F2833;
    --navy: #313456;
    --subtle-gold: #B8a26C;
    --forest: #6E7E75;
    --black: #1A1A1D;
}

.contact {
    height: 100vh;
    position: relative;
}

.contact-bg {
    width: 25px;
    height: 100%;
    background-color: var(--forest);
    position: absolute;
}

.contact-wrapper {
    padding: 50px;
    display: flex;
}

.contact-left {
    flex: 1;
}

.contact-right {
    flex: 1;
}

.contact-title {
    font-size: 60px;
    width: 80%;
}

.contact-info-item {
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 300;
}

.contact-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.contact-anc {
    color: var(--greenery);
}

.contact-description {
    font-weight: 300;
}

form {
    
}